.avatar {
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  width: 5rem;
  height: 5rem;
  border: 0.375rem solid #cecbcb;
  background: #e6e0e0;

  &__image {
    width: 100%;
    height: 100%;
    background-color: #e6e0e0;
  }
}
